@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Rubik+Scribble&display=swap');

:root{
    --color-text-titles:#0099ff;
    --bakground-color:#9bcff1;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

section {
    display: grid;
    place-items: center;
    height: 100vh; 
    scroll-snap-align: start; 
}
#Productos {
    background-color: #bfe5ff;
}
section.carrusel {
    background-color: var(--bakground-color);
}
#Testimonios {
    background-color: #ffffff;
}
h1{
    font-family: "Exo 2", sans-serif;
    text-align: center;
    font-size: 5rem;
    margin-top: 50px;
    color: var(--color-text-titles);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightblue;
    padding: 1rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    & img {
        border-radius: 50%;
        height: 100px;
    }
    & nav {
        width: 50%;
    }
     & .navegacion{
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
        padding: 1rem;
        & a {
            text-decoration: none;
            color: black;
            font-size: 1.2rem;
        }
        & a:hover{
            color: #0099ff;
        }
    
    }
}


.productos {
    padding: 6rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    & .card {
        width: 33%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 400px;
        background: antiquewhite;
        border-radius: 10px;
        padding: 10px;
        
    }
    & .card:hover {
        cursor: pointer;
        transform: translateY(-20px);
    }
    & .imagen-producto {
        width: 230px;
        height: 150px;
        border-radius: 10px;
        
    }
}
.carrusel{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

.imagenes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.img{
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.85);
    height: 576px;
    width: 1134px;
    border-radius: 15px ;
    margin: 5px;
    object-fit: cover;
    filter: saturate(175%);
}

.texto{
    overflow: hidden;
    position: absolute;
    flex-direction: column;
    transform: translateY(0px);
    margin-bottom: 9px;
    backdrop-filter: blur(20px);
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

.texto h3{
    text-shadow: 0px 0px 15px black;
    padding-top: 40px;
    color: white;
    font-weight: 300;
    font-size: 27px;
}

.texto p{
    align-items: center;
    padding: 20px;
    color:white;
    font-size: 0px;
    font-weight: 300;
}

.imagenes .texto{
    width: 600px;
    height: 100px;
    transition: 1s;
}

.imagenes:hover .texto{
    transition: height 1s, transform 1s, background-color 1s;
    transform: translateY(-150px);
    height: 300px;
    background-color: rgba(63, 106, 138, 0.71);
}

.imagenes:hover .texto p{
    transition: font-size 0s .2s linear;
    font-size: 23px;
    font-weight: 300;

    text-shadow: 0px 0px 10px #000000;
}

.puntos{
    display: flex;
    align-items: center;
    justify-content: center;
}

.puntos p{
    font-size: 100px;
    font-weight: 500;
    margin-top: -50px;
    color: black;
}

.puntos .bold{
    font-weight: 700;
    margin-left: 10px;
    margin-right: 10px;
    color: var(--color-text-titles) ;
}